/* registration form related css  start */
.registration-container .bg-blck {
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    position: relative;
}
.registration-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bg-blck::before {
    content: "";
    position: absolute;
    display: block;
    background: url(../images/circle1.png);
    background-repeat: no-repeat;
    background-size: 85% 65%;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0;
    z-index: 1;
    /* animation: zoomIn 5s ease-in infinite alternate-reverse; */
}
.bg-blck::after {
    content: "";
    position: absolute;
    display: block;
    background: url(../images/circle2.png);
    background-repeat: no-repeat;
    background-size: 48% 90%;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    /* animation: zoomIn 5s ease-in infinite alternate-reverse; */
}
.content-blck {
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 50px 120px 50px 120px;
}
.sewa-form {
    background: #FFFFFF;
    box-shadow: 0px 4px 70px rgb(0 0 0 / 16%);
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
}
.full-circle-img {
    width: 50px;
    height: 50px;
    top: 75%;
    position: absolute;
    right: 15%;
}
.form-header {
    height: 80px;
    background-color: #202A45;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-content {
    padding: 50px 50px 40px 50px;
    height: 100%;
    width: 100%;;
    display: block;
    background-color: #fff;
    box-shadow: 0px 4px 70px rgb(0 0 0 / 16%);
    border-radius: 20px;
}
.logo-img {
    height: 80px;
    width: 100%;
    display: block;
}
.form-content h2 {
    color: red;
    font-weight: 600;
    line-height: 32px;
}
button.sewa-btn-box {
    width: 100%;
    background-color: #fff;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 6px 14px rgb(0 0 0 / 20%);
    border-radius: 18px;
    padding: 20px 10px;
}
.sewa-btn-group {
    margin-top: 40px;
}
.sewa-btn-content {
    display: flex;
    align-items: center;
}
.sewa-btn-content img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
span.sewa-btn-title{
    font-size: 16px;
    color: #222222;
}
span.sewa-sub-text {
    font-size: 12px;
    color: #222222;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
/* Login form css start */
.sewa-txt-block {
    position: relative;
}
.sewa-txt-addon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 18px;
    left: 20px;
    background-color: inherit;
    border: none;
    z-index: 9;
}
input.sewa-input-box {
    text-indent: 45px;
    border: none;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    border-radius: 18px;
    padding: 15px;
}
input.sewa-input-box:focus, .sewa-select-box:focus{
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
}
.forgot-password-block a {
    color: #FF5C59;
    width: 100%;
    width: 100%;
    display: block;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}
button.sewa-btn {
    width: 100%;
    background-color: #202A45;
    border-color: #202A45;
    margin: 15px 0px;
}
button.sewa-btn:hover {
    background-color: #202A45;
    border-color: #202A45;
}
span.create-account-link {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 14px;
}
.create-account-link a {
    text-decoration: none;
    color: #0C1F22;
}
span.btn-view-block {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
}
.sewa-sub-title{
    font-weight: 500;
    width: 100%;
    display: block;
}
.form-check-input:checked{
    background-color: #FF5C59;
    border-color: #FF5C59;
}
/* Login form css End */

/*Gurdwara form css Start */
.reg-gurdwara-form.content-blck {
    padding: 50px;
}
.sewa-select-box{
    padding: 15px;
    width: 100%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    border: navajowhite;
    color: #181820;
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none; */
    border-radius: 18px;
    /* background: url(../images/circle2.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: right;
    background-origin: content-box; */
}
span.sewa-or-txt {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
button.btn-register{
    margin: 0;
    padding: 14px;
}
.reg-individual-form{
    position: absolute;
    top:0;
    background-color: unset;
    padding: 20px 40px;
    z-index: 99;
}
.reg-individual-form .form-content{
    padding:50px 40px;
}
.form-check-input:checked {
    background-color: #FF5C59;
    border-color: #FF5C59;
}
.sewadaar-subtext {
    line-height: 24px;
    font-weight: 400;
}
/*Gurdwara form css End */
aside{
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 300px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #F5F5F5;
}
/* admin panel related css start */
.sidebar-bg-img{
    background: url(../images/sidebar_logo.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}
/* admin panel related css end */

/* @keyframes zoomIn {
    to {
        transform: scale(1.4, 1.4);
    }
} */
/* registration form related css end */

